.main-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {background-color: #ffffff;}

p { font-family: "Trebuchet MS", "Gill Sans", Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;}
	
		
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", "Gill Sans", Helvetica, sans-serif;
	padding: 5px 10px 5px 10px;
    color: #2E5E80;
}

h1, h2, h3 {font-weight: bold;}
	
h4, h5, h6 {font-weight: medium;}
	
h1 {font-size: 16px;
	background: #A5BCCC;}
h2 {font-size: 14px;
	background: #c0d0db;}
h3 {font-size: 14px;
	background: #dbe4ea;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 12px;}


